body {
    font-size: 100%;
}

.sortable {
    width: 300px;
    list-style-type: none;
    padding-left: 10px;
}

.sortable li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    color: #1C94C4;
    margin-bottom: 5px;
    padding: 5px;
    height: 22px;
}

.sortable li.ui-sortable-placeholder {  
    border: 1px dashed #CCC;
    background-color: white;
}

.sortable li .handle {
    cursor: move;
}

div#list_container {
    width:280px;
}

a.ip_link {
    margin-left: 5px;
    vertical-align: middle;
}

input.ip_checkbox {
    margin-left: 10px;
    vertical-align: middle;
}

input.ip_input {
    margin-left: 5px;
    height: 16px;
    width: 194px;
}

p#enable_all {
    margin-top: 4px;
    text-align: center;
}

#customurl {
    display: flex;
    flex: 1;
}

#customurl span.handle {
    order: 1;
}

#customurl input.ip_checkbox {
    order: 2;
}

#customurl input#custom_url_input {
    order: 3;
    flex: 1;
}